<link rel="stylesheet" href="./css/post.css">
<h1 class="padding-20">My Posts</h1>

<a href="/post"> <input type="button" class="button" id="newPost-btn" value="+ New Post"></a>    
{{#each posts as |aPost| }}
{{!-- Pass in the data to each individual post --}}
{{> post aPost}}
{{/each}}
