<link rel="stylesheet" href="./css/login.css">
<section class="form-container">

   

    <fieldset id="login-form">
        <form>
             <section >
                     <h1 style="color: white;  text-align: center;">Sign Up</h1>
                </section>
            <section class="form-group">
                <input class="form-input" type="text" id="username" placeholder="Username" maxlength="50" autocomplete="off">
            </section>
             <section class="form-group">
                    <input class="form-input" type="password" id="password" placeholder="Password" maxlength="15">
                </section>
                 <div class="submitBtnDiv">
                    <input class="submitBtn" id="signUp-btn" type="submit" id="login" value="Sign Up">
                </div>
        </form>
    </fieldset>
   
</section>

<script src="/js/signUp.js"></script>